html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    background-color: #efefef;
}

header{
    background-color: #364552;
    color: white;
    padding: 1rem 1rem;
    margin-bottom: 5rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    padding: 1rem 1rem;
    text-align: center;
}

section article{
    background-color: #fff;
    margin: 0rem 20rem;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    line-height: 4rem;
}